* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #e81747;
  --lightblack: #262626;
  --black: #1a1a1a;
}

body {
  background-color: var(--black);
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: "Roboto", sans-serif;
}

.container {
  text-align: center;
}

.container h1 {
  font-weight: 700;
  font-size: 5rem;
}

.container h3 {
  margin-top: 50px;
}
.container h3:not(:nth-child(2)) {
  margin-top: 40px;
}

h3 {
  font-size: 2rem;
}

#easy:hover,
#medium:hover,
#hard:hover {
  cursor: pointer;
  opacity: 0.7;
}

.scorebox {
  background-color: var(--lightblack);
  border: 1px solid var(--red);
  margin: 70px auto;
  width: 100%;

  position: relative;
  display: none;
  padding: 50px 0;
}

#scoreResult {
  font-size: 5rem;
  height: 100px;
  line-height: 100px;
  padding: 0 20px;
  border: 3px solid var(--red);
  position: absolute;
  left: 0;
  top: 0;
}

.title {
  font-size: 2rem;
  margin-top: 10px;
}

#easy:hover {
  color: green;
}

#medium:hover {
  color: tomato;
}

#hard:hover {
  color: var(--red);
}

.minebox {

  width: calc(100% / 10);
  height: calc(100% / 10 );
  border: 3px solid black;
  background-color: grey;
}

.minebox:hover {
  cursor: pointer;
  opacity: 0.8;
}

.mineField {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
 
  margin: auto;
}

@media screen and (max-width: 1600px) {
  html {
    font-size: 0.5rem;
  }

  .mineField {
    width: 100%;
    margin: 0;
    padding-top: 50px;
  }

  .scorebox {
    margin: 0;
  }
}
